
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>
      <img src="https://www.grubdaily.com/images/email-header-logo.png" width="600px" title="grubdaily" alt="grubdaily">
    </p>

    <h1 style="color: #E5A636;">
        Please confirm your subscription
    </h1>

    <p style="max-width: 600px;">
      Click <%= link_to("here", confirm_email_subscriber_url(@email_subscriber)) %>
      to confirm your subscription to the grubdaily mailing list.
    </p>
  </body>
</html>
