<div class="send-confirmation mt-6 mx-6">
  <div class="container">
    <h1 style="font-size: 30px">
      You have successfully subscribed
    </h1>

    </br>

    <p> Each time something tasty is added to grubdaily.com, you will receive an
email update! If you want to unsubscribe, there will be a link in the footer of each email, or just click <%= link_to("here", delete_email_subscriber_url(@email_subscriber)) %>.
    </p>

    </br>

    <p>
      I hope you enjoy my recipes and general food chat :)
    </p>

    </br>

    <p>
      If you have any feedback or questions, feel free to message me; <strong>@grubdaily</strong> on Instagram or email <strong>tom@grubdaily.com</strong>
    </p>

    </br>

    <p>Cheers!</p>
    <p>Tom</p>
  </div>
</div>

