<div class="send-confirmation mt-6 mx-6">
  <div class="container">
    <h1 style="font-size: 30px">
      Thank you!
    </h1>
    <h1 style="font-size: 30px">
      You're almost done ...
    </h1>

    </br>

    <p>
      <ol>
        <li>Now check your email inbox.</li>
        <li>Click on the confirmation link</li>
        <li>Look forward to receiving tasty things in your inbox :)</li>
        <li>Note: if you don't receive a confirmation email after 5 minutes, check your spam folder</li>
      </ol>
    </p>
  </div>
</div>

