<div class="section">
  <div class="container is-widescreen">
    <h1>Editing Recipe</h1>

    <%= render 'form', recipe: @recipe %>

    </br>

    <div class="columns">
      <%= link_to(
        "Back to Recipe",
        @recipe,
        class: "column is-three-quarters button"
      )%>

      <%= link_to "Delete", @recipe, method: :delete, class: "column button is-danger", data: { confirm: "Really?", disable_with: "deleting..." } %>
    </div>
  </div>
</div>


