  <header class="header clear">
    <div class="blog-info clear">
        <a href="https://www.grubdaily.com" class="blog-logo">
            <img src="https://s3.eu-west-2.amazonaws.com/grubdaily/grubdaily_white.png" alt="grubdaily" />
        </a>
    </div>
<div class="navbar">
    <div class="clear" style="display: flex;">
      <nav role="navigation" class="mainmenu">
        <ul class="clear">
          <li><a href="https://www.grubdaily.com" class="active">Home</a></li>
          <li><a href="https://www.grubdaily.com/about/" >About</a></li>
          <li><a href="https://www.grubdaily.com/recipes/" >Recipe Index</a></li>
          <li><a href="https://www.grubdaily.com/photos">Photos</a></li>
        </ul>
      </nav>
      <div class="search" role="search">
        <div class="search-holder clear">
          <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="0 0 80 80" xml:space="preserve"><path fill="#ddd" d="M55.4 33.8c0-5.9-2.1-11-6.3-15.2s-9.3-6.3-15.2-6.3 -11 2.1-15.2 6.3 -6.3 9.3-6.3 15.2 2.1 11 6.3 15.2 9.3 6.3 15.2 6.3 11-2.1 15.2-6.3S55.4 39.8 55.4 33.8zM80 73.8c0 1.7-0.6 3.1-1.8 4.3C77 79.4 75.5 80 73.8 80c-1.7 0-3.2-0.6-4.3-1.8L53 61.7c-5.7 4-12.1 6-19.2 6 -4.6 0-9-0.9-13.1-2.7s-7.8-4.2-10.8-7.2S4.4 51.2 2.7 47 0 38.4 0 33.8s0.9-9 2.7-13.1 4.2-7.8 7.2-10.8 6.6-5.4 10.8-7.2S29.3 0 33.8 0s9 0.9 13.1 2.7 7.8 4.2 10.8 7.2 5.4 6.6 7.2 10.8 2.7 8.6 2.7 13.1c0 7.1-2 13.4-6 19.2l16.5 16.5C79.4 70.7 80 72.1 80 73.8z"/></svg>
          <input type="text" id="search-input" placeholder="search...">
        </div>
        <ul id="results-container" class="results-container"></ul>
      </div>
    </div>
  </div>
</header>

  <section class="delicious">
    <main role="main">
      <section class="index" itemscope itemtype="http://schema.org/Blog">
    <section class="newest-recipes clear">

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-excerpt"><p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/panzanella.jpg" alt="Panzanella" /></p>

</div>
            <div class="details">

                <h6 class="post-title first-post" itemprop="name headline"><a itemprop="url" href="/panzanella">Panzanella</a></h6>
                    <div class="post-content">


For me, tomatoes are the highlight of summer. They are best, at their sweetest and juiciest, during the p...
                    </div>

            </div>
        </article>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-excerpt"><p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/heartys-stuffed-rabbit-saddle.jpg" alt="Hearty's Stuffed Rabbit Saddle" /></p>

</div>
            <div class="details">

                <h6 class="post-title" itemprop="name headline"><a itemprop="url" href="/heartys-stuffed-rabbit-saddle">Hearty&#39;s Stuffed Rabbit Saddle</a></h6>

            </div>
        </article>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <div class="post-excerpt"><p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/tomato-sorrel-salad.jpg" alt="Tomato and Sorrel Salad" /></p>

</div>
            <div class="details">

                <h6 class="post-title" itemprop="name headline"><a itemprop="url" href="/tomato-sorrel-salad">Tomato and Sorrel Salad</a></h6>

            </div>
        </article>

    </section>

    <section class="posts clear">
        <div class="section-title"><span>Recent Recipes</span></div>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="/cured-salmon-jersey-royals">Cured Salmon and Jersey Royals</a></h2>
            <div class="post-content">
                <p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/cured-salmon-jersey-royals.jpg" alt="Cured Salmon and Jersey Royals" /></p>

<p>Everyone knows that fish is best enjoyed as fresh as possible, so if you’ve bought some fresh fish on your weekly shopping trip, you ought to eat it within the first two days, ideally. There’s another solution though, which may not seem obvious. You can easily salt the fish to cure it, which extends its shelf life considerably. As a bonus, it also improves the texture and flavour. In my opinion, salting fish is a no-brainer. An old chef friend of mine, Hearty, is also a firm advocate of salting fish before cooking it. Often, he’s not salting it for as much as a day or more to properly “cure” it, but completely covering it in salt for just 20 or 30 minutes, which has the effect of firming up the fish and makes the skin extra crisp when fried in a hot pan. Curing it for longer, though, will preserve the fish for longer and allow you to continue enjoying it for several days.</p>

<p>Here I have made a herb-cured salmon, sort of a simple version of Swedish gravlax. The recipe combines the salmon with a wonderful combination of Jersey Royal potatoes (for me, one of the seasonal highlights of the year), basil and lemon. It’s a lovely light summer meal. The curing takes between 48 and 72 hours, and will then store in the fridge happily for up to a week. This process works better with large pieces of fish rather than small fillets, so you will end up with more than you need for the dish. You can keep the extra in the fridge for another meal, or freeze it.</p>

<hr />
<ul>
  <li>700 g salmon, in one large piece</li>
  <li>50 g sea salt</li>
  <li>1 tablespoon cracked black pepper</li>
  <li>10 juniper berries, crushed</li>
  <li>1 large handful dill</li>
  <li>1 large handful coriander</li>
  <li>1 large handful parsley</li>
  <li>250 g Jersey Royal potatoes</li>
  <li>1 large handful baby spinach</li>
  <li>2 handful fresh basil leaves</li>
  <li>0.5 lemon</li>
  <li>2 spoonfuls creme fraiche</li>
  <li>sea salt and freshly cracked black pepper</li>
  <li>good quality extra virgin olive oil</li>
</ul>

<ol>
  <li>
    <p>Cut the salmon in half across the fillet to create two square-ish pieces. Place the salt, cracked black pepper, juniper berries, dill, coriander and parsley into a blender and blend to a paste. Spread the over the flesh of both pieces of salmon, making sure it is all covered. Spread a little onto the skin side, too. Place the pieces of salmon together with the flesh sides touching, then tightly wrap in cling film. Place in a tray, and put a heavy weight on top. Refrigerate for between 48 and 72 hours, depending on how cured you want it. The longer you leave it, the saltier (and more flavoursome) it will be. Turn the salmon over every 24 hours.</p>
  </li>
  <li>
    <p>When the salmon is ready, remove the cling film and rinse off the cure mix briefly with cold water. Don’t rinse it too much as you will lose some flavour. Dry with kitchen paper, then cut off enough for the dish, about 80g per person. Cut into approx. 1cm chunks, then set aside.</p>
  </li>
  <li>
    <p>Place the potatoes in a pan and cover with cold water. Add a generous pinch of salt, then bring to the boil. Simmer gently for about 20 minutes, until the potatoes are tender.</p>
  </li>
  <li>
    <p>Saute the spinach, season lightly with salt. Squeeze out any excess liquid from the spinach, then place in a mixing bowl. Cut some 5mm slices (1 slice per serving) from the lemon, cut into dice and add to the bowl. Add the basil, the diced salmon and a generous glug of olive oil, then mix together whilst still warm. Season to taste with salt, pepper and lemon juice. Serve in wide bowls with a dollop of creme fraiche alongside. Finally, garnish with some basil leaves and small segments of lemon.</p>
  </li>
</ol>

            </div>
        </article>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="/sourdough-bread">Sourdough Bread</a></h2>
            <div class="post-content">
                <p>A series of recipes for this lockdown would not be complete without including sourdough. It seems like the entire country is making bread at the moment, but it’s not due to lack of it on the supermarket shelves, I think it is due to boredom more than anything else. We are spending more time confined indoors than ever before, and baking is an excellent way to occupy one’s self. It’s pretty satisfying, too, to be able to create something as beautiful and delicious as a loaf of sourdough bread.</p>

<p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/sourdough.jpg" alt="Sourdough" /></p>

<p>My sourdough journey started after a visit to my aunt, who makes award-winning bread. Using a sample of her starter as a basis, after a few attempts I achieved reasonable successes. The bread was not quite like the glorious loaves you can buy in artisan bakeries, but it was OK. After three years of making mediocre bread, through numerous experiments and variations on the original recipe, I had a bastardised version of my aunt’s recipe that I was becoming more and more dissatisfied with. I was determined to improve the quality of my loaf, so I decided to broaden my horizons and do some research. I bought the book <a href="https://www.amazon.co.uk/Super-Sourdough-foolproof-making-world-class/dp/1787134652/ref=sr_1_1?adgrpid=73762294553&amp;dchild=1&amp;gclid=CjwKCAjwztL2BRATEiwAvnALcngDdbAYXXKHt_cOKLlY_gyS1--A2_1UsswLWeL5ORxjBOO2M1leGhoCZL4QAvD_BwE&amp;hvadid=357918221407&amp;hvdev=c&amp;hvlocphy=9046884&amp;hvnetw=g&amp;hvqmt=e&amp;hvrand=10590257255461743499&amp;hvtargid=kwd-643633058387&amp;hydadcr=18732_1816695&amp;keywords=super+sourdough&amp;qid=1590996588&amp;sr=8-1">Super Sourdough</a>, by James Morton; a former Great British Bake Off winner. It was highly acclaimed.</p>

<p>This book has literally revolutionised my breadmaking. I began again from scratch, starting with throwing my existing sourdough starter in the bin (one of the points James makes in the book is that he doesn’t understand the strange obsession people have with their sourdough starters, being proud to have used the same one for years on end. There is no reason for this, they are very easy to create from scratch, and he has had dozens of them, experimenting with different flours and different fruit juices). That was 6 months ago, and now my bread is almost indistinguishable from the professional artisan variety that you can buy in your local neighbourhood bakery. I couldn’t be happier.</p>

<p>I’ve deliberately omitted any recipe from this blog post. I could, arguably, put James Morton’s recipe here, with the minor modifications I’ve made for it (I make the dough a bit wetter, and add linseed), but it wouldn’t be feasible for me to write down instructions for creating this bread in the format of a blog post. I would need to copy out most of the book (the recipe I’ve been using, for the standard rye-wheat sourdough loaf, is 33 pages long). Even with a 33-page immensely detailed recipe, it took me 6 months to get even close to a point of mastery. The reality is, there are so many contributing factors to sourdough bread that it’s almost impossible to prescribe a method that is guaranteed to work every time. The book teaches you the fundamental principles and then guides you through the processes of autolysing, folding-and-stretching, proving, pre-shaping, shaping, scoring and, finally baking in a hot oven. It will likely take many attempts before you reach anywhere near perfection; in fact you will probably never get there, but I guarantee it’ll be a thoroughly enjoyable journey! I’m not being paid by James Morton for this blog post, but genuinely, if you want to make good quality sourdough bread at home, buy the book.</p>


            </div>
        </article>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="/lockdown-pasta-spinach-puttanesca">Lockdown Pasta: Spinach Puttanesca</a></h2>
            <div class="post-content">
                <p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/lockdown-pasta-spinach-puttanesca.jpg" alt="Lockdown Pasta Spinach Puttanesca" /></p>

<p>While this lockdown is still in place I’m working on the theme of tinned fish. Previously, I pointed out how well mackerel works as a preserved, tinned product. Part of the reason for this is that it’s a particularly oily fish and it doesn’t tend to be dry when cooked. It’s also one of the most abundant fish in the ocean – especially around the british isles – so it’s sustainable. Another fish which ticks these boxes is the anchovy. Anchovies are one of the most abundant fish in the entire world. For sustainability points, they are hard to beat. They are also, of course, really really tasty.</p>

<p>This recipe combines two things I’ve always been very fond of: 1) pasta, and 2) bold, powerful flavours. Pasta puttanesca combines these in glorious fashion, so it’s no surprise that it makes it to my list of all time favourite pasta dishes.</p>

<p>Technically, this recipe isn’t really a true puttanesca (check out my <a href="https://www.grubdaily.com/pasta_puttanesca">previous post</a> for a more traditional recipe). This is a bastardized version of sorts, where tomatoes have been switched for spinach. So we have a combination of spinach, anchovies and garlic, which is nothing new; these ingredients would be excellent partners to a roast leg of lamb, for example. The addition of two different types of chilli flakes, including smoky chipotle, makes for a really powerful flavour combination.</p>

<hr />
<ul>
  <li>180g pasta, preferably rigatoni</li>
  <li>2 handfuls spinach</li>
  <li>1 tsp capers, chopped</li>
  <li>4 fillets anchovies</li>
  <li>2 cloves garlic</li>
  <li>1/2 tsp arbol chilli flakes</li>
  <li>1/2 tsp chipotle chilli flakes</li>
  <li>2 tsp butter</li>
  <li>parmesan cheese, to serve</li>
  <li>sea salt and freshly cracked black pepper</li>
</ul>

<ol>
  <li>
    <p>Get a large pot of water boiling for the pasta. Season the water, then add the pasta, removing it when about 1 minute from being cooked. <em>Remember to reserve the cooking water as you will need it for making the sauce</em>.</p>
  </li>
  <li>
    <p>Heat about 2 tablespoons of olive oil in a large heavy-based pan over a medium heat. Once the oil is hot, add the garlic along with a pinch of salt. Stir once, and cook for 20 seconds before adding the chilli flakes. Turn the heat to low and simmer gently for 2 minutes. Add the spinach, and stir-and-fry until wilted.</p>
  </li>
  <li>
    <p>When the pasta is drained, add it to the pan with the spinach along with a ladleful of the starchy cooking liquid. Add the capers, anchovies and butter at this point, along with a generous pinch of cracked black pepper. Mix everything together vigorously for a couple of minutes: the pasta will finish cooking and some of its starch will be released into the water to thicken it. Add more of the cooking water if it’s getting too thick.</p>
  </li>
  <li>
    <p>Serve in bowls immediately, with grated parmesan on top.</p>
  </li>
</ol>

            </div>
        </article>

        <article class="post" role="article" itemprop="blogPosts" itemscope itemtype="http://schema.org/BlogPosting">
            <h2 class="post-title" itemprop="name headline"><a itemprop="url" href="/lockdown-mackerel-salad">Lockdown Mackerel Salad</a></h2>
            <div class="post-content">
                <p><img src="https://s3.eu-west-2.amazonaws.com/grubdaily/lockdown-mackerel-salad.jpg" alt="Lockdown Mackerel Salad" /></p>

<p>When this lockdown started, almost 2 months ago, everyone rushed to the supermarkets and started panic-buying. There was virtually nothing left on the shelves, and sundry items like pasta, rice, flour and tinned-goods were completely sold out. It was like a weird version of Christmas eve, where instead of brussel sprouts and parsnips being sold out, it was tinned tomatoes and tinned fish. And it lasted for 2 weeks! Now the supermarkets have recovered from that crazy period of panic-buying, things are available on the shelves again, and although the situation is far from being normal, at least we can buy the ingredients we need.</p>

<p>I wanted to write some recipes for this lockdown, using ingredients that people are likely to have in the house and don’t have to make a special trip to the shop for. I had the idea of making a ‘what to eat in an apocalypse’ series of posts, using only store-cupboard ingredients. The reality is, I think most people are managing to get to the shops at least once per week and nearly all the produce you want is available. If you’re organised, you can still eat a meal every day made with a nice variety of fresh produce. Nevertheless, it’s nice to find a theme and go with it.</p>

<p>So, you might be surprised to hear that I’ve been eating a lot of tinned mackerel recently. Not out of necessity, just because I discovered some fine quality tinned mackerel that is basically just a smoked mackerel fillet, cut in half, marinated in olive oil. The fish has been salted to cure it before smoking, too, which makes it a perfect product to be preserved in this way – not unlike marinated artichokes or sun-dried tomatoes. It would be just fine to eat on its own, which I do on occasion, but it also combines with some shredded red cabbage, torn basil and chopped lemon to make an excellent salad.</p>

<hr />
<ul>
  <li>2 fillets smoked mackerel, tinned or otherwise</li>
  <li>1 small red onion, thinly sliced</li>
  <li>150g red cabbage, chopped or shredded</li>
  <li>1 small carrot</li>
  <li>2 handfuls basil, torn</li>
  <li>2 small handfuls baby spinach, roughly chopped</li>
  <li>1 lemon</li>
  <li>1 tsp ground cumin</li>
  <li>sea salt and cracked black pepper</li>
  <li>extra virgin olive oil</li>
</ul>

<ol>
  <li>Place the red cabbage in a bowl with the onion, ground cumin and spinach. Peel the carrot and cut in half lengthways, then slice thinly at an angle. Cut two 3mm slices from the lemon and cut into dice. Add the lemon dice and the sliced carrot to the bowl. Juice the other half of the lemon into another bowl and set aside. Pull the smoked mackerel into flakey pieces and roughly tear the basil. Add these to the bowl along with a generous glug of olive oil and mix. Finally, season to taste with sea salt, cracked black pepper and lemon juice. Serve and eat immediately.</li>
</ol>

            </div>
        </article>

    </section>

    <section class="posts clear bottom-panel" style="margin-bottom: 80px;">
      <div class="social clear">


                  <a href="http://facebook.com/grubdaily"><svg title="facebook" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.grubdaily.com/assets/svg/social-icons.svg#facebook-icon"></use></svg></a>



                  <a href="http://twitter.com/grubdaily_tom"><svg title="twitter" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.grubdaily.com/assets/svg/social-icons.svg#twitter-icon"></use></svg></a>



                  <a href="http://www.instagram.com/grubdaily"><svg title="instagram" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.grubdaily.com/assets/svg/social-icons.svg#instagram-icon"></use></svg></a>



                  <a href="http://plus.google.com/115527733566953440139"><svg title="google-plus" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.grubdaily.com/assets/svg/social-icons.svg#google-plus-icon"></use></svg></a>

















                  <a href="http://www.pinterest.co.uk/grubdaily"><svg title="pinterest" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="https://www.grubdaily.com/assets/svg/social-icons.svg#pinterest-icon"></use></svg></a>
























      </div>
      <!-- <a class="view-all" href="/photos">Click here to see ALL photos</a> -->
    </section>

</section>

    </main>
  </section>
  <footer>
  <div class="footer clear">
    <div class="footer-left-column">
      <a href="https://www.grubdaily.com">
        <img src="https://s3.eu-west-2.amazonaws.com/grubdaily/favicon_large.jpg" width="80px">
      </a>
      <p>&copy; 2020</p>
    </div>

    <div class="footer-right-column">
      <p><a href="https://www.grubdaily.com">Home</a></p>
      <p><a href="https://www.grubdaily.com/recipes">Recipe Index</a></p>
      <p><a href="https://www.grubdaily.com/about">About</a></p>
      <p><a href="https://www.grubdaily.com/photos">Photos</a></p>
    </div>
  </div>

</footer>
  <script src="https://www.grubdaily.com/assets/js/jquery-1.12.2.min.js"></script>
<script src="https://www.grubdaily.com/assets/js/jquery.mCustomScrollbar.min.js"></script>
<script src="https://www.grubdaily.com/assets/js/lunr.min.js"></script>
<script src="https://www.grubdaily.com/assets/js/lunr-feed.js"></script>
<!-- <script src="https://www.grubdaily.com/assets/js/backtotop.js"></script> -->
<script src="https://www.grubdaily.com/assets/js/jquery.fitvids.js"></script>
<script src="https://www.grubdaily.com/assets/js/svg4everybody.min.js"></script>
<script src="https://www.grubdaily.com/assets/js/scripts.js"></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '', 'auto');
    ga('send', 'pageview');
</script>
