  <section class="delicious">
    <main role="main">
      <div class="section-title"></div>
        <article class="page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <h2 class="post-title" itemprop="name headline">About Grubdaily</h2>
            </header>

            <div class="post-content" itemprop="text">
                <p class="first-paragraph">Seven years of cooking in some of Scotland's finest restaurants (finally reaching the position of sous chef in probably
                  <a href="https://thekitchin.com" alt="The Kitchin Restaurant" target="_blank">the most famous of them</a>)
                  cemented something I realised many years ago: food is my life's passion. However, it also eventually made me realise that I did not want to run my own kitchen, so I left the world of restaurants. Instead, I am channeling my energy and passion for food into Grubdaily.</p>

                <p>Grubdaily is <em>for tasty things</em>. Clearly, it is a place you can find tasty things, but this is also a manifesto: <strong>for</strong> tasty things. This means prioritising flavour above all else. I will never compromise flavour for any reason; dietary, aesthetic or otherwise. Although some of the fine-dining style dishes I've learned over the years are undeniably excellent and delicious, that style is not what Grubdaily is about. Most of the recipes here are simple and easily done in a home kitchen. </p>

                <p>I take pleasure in sharing my passion for food with the world. I hope to ignite in others the excitement I have when discovering new ingredients, recipes, techniques and learning any kind of food knowledge. I also hope that the images do justice to the quality of the food. Hopefully they will entice the reader to try the recipes at home and get the same gratifcation I have when cooking.</p>
            </div>
        </article>
    </main>
  </section>
