<section class="delicious">
  <main role="main">
    <div class="section-title"></div>
    <article class="page single" role="article" itemscope itemtype="http://schema.org/BlogPosting">
      <header class="post-header">
        <h2 class="post-title" itemprop="name headline">Recipe Index</h2>
      </header>
      <div class="post-content" itemprop="text">
        <div class="index-list">
          <ul>
            <% @recipes.each do |recipe| %>
            <li>
              <a href="<%= recipe.permalink %>"><%= recipe.title %></a>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
    </article>
  </main>
</section>
