@import "vars";
@import "reset";
@import "helpers";
@import "mixins";
@import "customscroll";
@import "bulma";

hr {
  height: 15px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkQAIzZ878zwgi0tPTGWHiYAayIFwGJggA0RMOz9R3mNcAAAAASUVORK5CYII=) repeat;
    border: 0;
  margin-top: 0;
}

/* Tweaking forms */
#blog_post_images { height: 60px; }
#blog_post_tags { width: 800px; }
#blog_post_summary { width: 800px; }

/* Layout */
.delicious { border-radius: 5px; max-width: $default-width; margin: 0 auto; padding: 0; background-color: white; }
body {background-color: #F1F1F1; margin: 0px;}
/**/

.index-list {
  ul { columns: 2; -webkit-columns: 2; -moz-columns: 2; }
}

/* email_subscribers/<ID>/send_confirmation */
.send-confirmation { margin-bottom: 600px }

/* Header */
.header { padding: 0; display: block; text-align: left; background-color: #4D4D4E;
  .navbar { padding: 0; background-color: white; height: 50px; border-bottom: 1px solid rgba(77, 77, 78, 0.2); }
  .blog-info { margin: 0 0 30px; height: 80px;
    .blog-logo { display: inline-block;
      img { margin-left: 25px; width: 300px; padding-top: 18px; @include transition(opacity, .2s, ease-in-out); }
    }
    .blog-titles { display: block; margin: 4px 0 0;
      strong { display: block; font: 700 40px/40px, Cardo, serif; text-indent: -5px; margin: 0 0 4px;
        a { color: $grey-color-dark; @include transition(color, .2s, ease-in-out);
          &:hover { color: $grey-color-normal; };
        }
        & + span { display: block; font: 400 13px/13px Abel, sans-serif; text-transform: uppercase; }
      }
    }
  }
  .mainmenu { text-align: left; width: 600px; min-width: 500px; margin: 0 10px 0 10px;
    & > ul > li { float: left; margin-left: 15px; padding: 8px 0 0 8px;
      &:first-of-type { margin: 0 0 0 10px; padding: 8px 0 0 8px;}
      & > a { display: block; font: 400 20px/20px Abel, sans-serif; color: $grey-color-light; @include transition(color, .2s, ease); line-height: 34px;
        &:hover { color: $orange-color-hover; }
        &.active { color: $grey-color-dark; font-weight: 700; }
      }
    }
  }

  .search { float: right; width: 100%; padding-top: 8px;
    .search-holder input { width: 100%; padding-top: 20px; border: 1px solid darken($white, 8%); @include transition(border, .2s, ease);
      &:focus, &:active { width: 100%; border: 1px solid darken($white, 12%); }
    }
    .results-container { width: 100%; }
  }

  .search { position: relative; float: right; text-align: left;
    .search-holder { position: relative; float: right;
      svg { position: absolute; top: 11px; left: 12px; width: 13px; height: 13px; }
      input { position: relative; border: 1px solid $white; width: 100px; background: none; height: 34px; font: 400 16px/16px Abel, sans-serif; padding: 2px 8px 3px 34px; border-radius: 1px; @include transition(all, .2s, ease);
        &:focus, &:active { width: 200px; border: 1px solid darken($white, 8%); }
      }
    }
    .results-container { display: none; position: absolute; top: 44px; right: 0; z-index: 10; height: 335px; width: 273px; border: 1px solid darken($white, 8%); background: $white;
      &:before { position: absolute; content: ""; width: 0; height: 0; top: -9px; right: 20px; z-index: 11; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 10px solid darken($white, 8%); }
      &:after { position: absolute; content: ""; width: 0; height: 0; top: -7px; right: 20px; border-left: 10px solid transparent; border-right: 10px solid transparent; border-bottom: 8px solid $white; z-index: 11; }
      li {
        &:first-child a { border: none; }
        a { display: block; padding: 15px; border-top: 1px solid darken($white, 8%); color: $black; @include transition(background, .1s, ease-in-out);
          figure { float: left; margin: 0 12px 0 0; width: 80px; height: 50px; @include bgsize(cover); }
          h2 { font: 400 16px/18px Abel, sans-serif; }
          time { display: inline-block; font: 13px/13px Abel, sans-serif; text-transform: uppercase; color: $grey-color-light;
            &:after { content: "/"; margin: 0 0 0 4px; }
          }
          span { display: inline-block; font: 13px/13px Abel, sans-serif; margin: 0 0 0 4px; text-transform: uppercase; color: $links-color; }
          &:hover { background: darken($white, 2%); }
        }
      }
    }
  }
}
/**/

/* Index, Tags, Categories, All */
.index { text-align: center; background-color: #F1F1F1;
  &.error { padding: 0 0 30px;
    figure { background: $black; width: 200px; height: 200px; line-height: 200px; margin: 80px auto 40px; border-radius: 50%;
      svg { display: inline-block; vertical-align: middle; width: 100px; height: 100px; }
    }
  }
  .section-title { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; @include flex(1, 1, 100%); position: relative; min-height: 15px; margin-bottom: 5px; font: 400 18px/14px Abel, serif; text-align: center; text-transform: uppercase;
    span { background: $white; padding: 0 8px; position: relative; z-index: 1;}
    &:before { position: absolute; left: 0; top: 0; width: 100%; height: 15px; content: "";}
  }

  .post .post-meta { font-size: 0; line-height: 14px; text-transform: uppercase;
    & > * { display: inline-block; font: 13px/13px Abel, serif; margin: 0 0 0 4px;
      &:first-child { margin: 0; }
    }
    .category:before { content: "/"; }
  }

  .newest-recipes { margin: 20px 0 20px 0; text-align: left; padding: 8px; background-color: white; border: 1px solid rgba(77, 77, 78, 0.2); border-radius: 5px;
    .section-title { margin: 0 0 50px; }
    .post { overflow: hidden; position: relative; float: left; width: 35.6%; width: calc(36% - 4px); height: 240px;
      &:first-of-type { width: 64%; height: 484px; margin: 0 4px 0 0;
        h3 { margin: 4px 0 14px; }
        p { line-height: 23px; }
      }
      &:last-of-type { margin: 4px 0 0; }
      .post-image { height: 100%;
        a { display: block; border-radius: 2px !important; height: 100%; @include bgsize(cover); background-repeat: no-repeat; background-position: left center; }
      }
      .post-excerpt { display: none; }
      .details { overflow: hidden; position: absolute; border-radius: 2px !important; left: 0; bottom: 0; width: 100%; padding: 10px; background: rgba($black, .7); color: darken($white, 5%); @include transition(padding, .2s, ease-in-out);
        .post-meta a { color: $white; }
        .post-title { font: 400 28px Cardo, serif; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
          a { color: darken($white, 5%); }
        }
        .post-content { margin: 10px 0 0; }
        .buttons { margin: 16px 0 0;
          a { float: left; margin: 0 10px 0 0; padding: 5px 8px; font: 14px/14px Abel, sans-serif; text-transform: uppercase; color: darken($white, 5%); @include transition(opacity, .2s, ease-in-out);
            &:hover { opacity: 0.9; }
            &.bluish { background: $featured-article-btn-bluish; }
            &.reddish { background: $featured-article-btn-reddish; }
          }
        }
      }
      &:hover .details { padding-bottom: 15px; }
    }
  }

  .posts { @include flexbox(); @include flex-wrap(wrap); padding: 8px; background-color: white; border: 1px solid rgba(77, 77, 78, 0.2); border-radius: 5px; margin: 20px auto 20px auto;
    .post { position: relative; width: 22.75%; @include flex(0, 1, auto); margin: 0 0 0 3%; text-align: left;
      .post-image { overflow: hidden; border-radius: 2px !important; position: relative;
        &:hover [class^="category-"] { bottom: 0; }
        a { display: block; height: 200px; @include bgsize(cover); background-repeat: no-repeat; }
        [class^="category-"] { position: absolute; bottom: -200px; width: 100%; height: 100%; background: none; @include flexbox(); @include align-items(); @include transition(bottom, .3s, ease-in-out);
          svg { display: none; @include flex(1, 1, auto); width: 50px; height: 50px; }
        }
      }
      .post-meta { margin: 14px 0 0; color: $grey-color-light;
        a { color: $links-color; @include transition(all, .2s, ease);
          &:hover { color: $orange-color-hover; }
        }
      }
      .post-title { font: 18px/22px Abel, sans-serif; text-transform: uppercase;
        a { color: $grey-color-dark; border-bottom: 1px solid $white; @include transition(all, .1s, ease-in-out);
          &:hover { color: $orange-color-hover; }
        }
      }
      .post-content { display: none; }
      &:nth-of-type(4n+1) { margin-left: 0; }
      &:nth-of-type(4) ~ .post { margin-top: 45px; }
    }
    .social { font-size: 0; top: 20px; height: 40px; margin: 10px auto 10px auto;
      a { display: inline-block; width: 40px; border-radius: 3px; height: 40px; line-height: 24px; text-align: center; margin: 0 0 0 5px; background: $grey-color-normal; @include transition(background, .1s, ease);
        &:first-child { margin: 0; }
        svg { display: inline-block; vertical-align: middle; width: 35px; height: 35px; padding-top: 5px;
          * { fill: darken($white, 5%);  }
        }
        &:hover { background: $grey-color-light; }
      }
    }
  }
  .subscribe-form {
    @include flex-wrap(wrap); padding: 16px 8px 8px 8px; background-color: white; border: 1px solid rgba(77, 77, 78, 0.2); border-radius: 2px;
    .email-field { font: 18px/22px Abel, sans-serif }
    .submit-button {
      background: $grey-color-normal; color: white; font: 18px/22px Abel, sans-serif;
      &:active { background-color: $orange-color-hover; }
      &:visited { background-color: $grey-color-light; }
    }
  }
  .view-all { max-width: 100px; border-radius: 3px; display: inline-block; background: $grey-color-normal; margin: 40px auto 40px auto; padding: 5px 10px; color: $white; font-size: 14px; @include transition(opacity, .1s, ease-in-out);
    &:hover { opacity: .8; }
  }

  .pagination { position: relative; margin: 50px 0 0;
    .previous { float: left; }
    .next { float: right; }
    .previous, .next { font-size: 14px; color: $links-color; @include transition(opacity, .1s, ease-in-out);
      &:hover { opacity: .8; }
    }
    .page_number { position: absolute; left: 50%; top: 50%; @include translate(-50%, -50%); font-size: 12px; color: $grey-color-light; }
  }
}
/**/

/* Post & Page Single Template */
.page.single {
  .post-header { margin: 10px 0 30px 0 }
}
.post.single .first-paragraph {
  p:first-letter { color: #903; float: left; font-family: Cardo; font-size: 97px; line-height: 30px; padding-top: 30px; padding-right: 8px; }
}
.post.single, .page.single { position: relative; padding: 10px 10px 50px 10px; border: 1px solid rgba(77, 77, 78, 0.2); border-radius: 5px; margin: 30px auto 30px auto;
  &:before, .post-footer:before { position: absolute; left: 0; top: 0; width: 100%; height: 13px; content: ""; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIElEQVQIW2NkQAIzZ878zwgi0tPTGWHiYAayIFwGJggA0RMOz9R3mNcAAAAASUVORK5CYII=); z-index: -1; }
  .post-title { font: 400 38px Cardo, serif; color: $grey-color-dark; }
  .post-meta { font-size: 0; line-height: 16px; color: $grey-color-light; text-transform: uppercase;
    & > * { display: inline-block; font: 14px/14px Abel, sans-serif; margin: 0 0 0 4px;
      &:first-child { margin: 0; }
    }
    .category:before { content: "/"; margin: 0 4px 0 0; }
    a { color: $links-color; @include transition(all, .2s, ease);
      &:hover { color: $orange-color-hover; }
    }
    .tags {
      span { display: inline-block;
        &:first-of-type:before { content: "Tags: "; }
        &:after { content: ","; }
        &:last-of-type:after { content: none; }
        a { display: inline-block; }
      }
    }
    .print { position: relative; float: right; margin: 0 0 0 5px; color: $grey-color-light; @include transition-none();
      svg { display: inline-block; width: 14px; height: 10px; }
      &:hover { color: $grey-color-dark; border-bottom: none;
        svg path { fill: $grey-color-dark; }
      }

    }
    .published-tag { color: $orange-color-hover; }
  }
  .post-content, .page-content {
    abbr { border-bottom: 1px dotted $grey-color-normal; cursor: help; }
    code, kbd, pre { margin: 0; font-family: monospace; word-wrap: break-word; word-break: break-word; }
    address, cite, var { font-style: italic; }
    blockquote { margin: 40px 0; padding: 20px 10px 20px 30px; border-left: 3px solid $grey-color-lightest;
      p { margin: 0; }
    }

    em, strong { color: $grey-color-dark; }

    h1, h2, h3, h4, h5, h6 { margin: 30px 0; font: 700 30px Cardo, serif; color: $grey-color-dark; }
    h1 { font-size: 32px; }
    h2 { font-size: 28px; }
    h3 { font-size: 24px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
    h6 { font-size: 18px; }

    .index-list {
      a { color: $grey-color-normal; text-decoration: none;
        &:hover { color: $orange-color-hover; }
        &:active { border: none; }
      }
    }

    a { color: $orange-color-hover; text-decoration: underline;
      &:hover { color: $grey-color-normal; }
      &:active { border: none; }
    }

    ul, ol { margin: 15px 0; padding: 0 0 0 20px;
      li { margin: 5px 0;
        & > code { font-size: 14px; padding: 3px 6px; background: $white; border: 1px solid $grey-color-lightest; }
      }
    }

    dl { margin: 40px 0;
      dt { margin: 10px 0 0; color: $grey-color-dark; font-weight: 700; }
      dd { margin: 5px 0;
        & > code { font-size: 14px; padding: 3px 6px; background: $white; border: 1px solid $grey-color-lightest; }
      }
    }

    ul { list-style-type: disc; list-style-position: inside; font-size: 13px; }

    p { margin: 30px 0; line-height: 28px; text-align: justify;
      & > code { font-size: 14px; padding: 3px 6px; background: $white; border: 1px solid $grey-color-lightest; }
    }

    .alignleft { float: left; margin: 20px 30px 20px 0; }
    .alignright { float: right; margin: 20px 0 20px 20px; }
    .aligncenter { clear: both; margin: 0 auto 20px; }

    .highlight { background: $white; border: 1px solid $grey-color-lightest; padding: 30px; }

    figcaption { color: $grey-color-light; font-size: 13px; font-style: italic; padding-top: 10px; }

    .recipe-ingredients { clear: both; @include flexbox(); @include flex-wrap(wrap); overflow: hidden; position: relative; margin: 30px 0 20px 0; padding: 30px 40px; list-style: none; font: 500 16px 'Open Sans', sans-serif; background: $recipe-background-color; background: repeating-linear-gradient(0deg, $recipe-background-color, $recipe-background-color 30px, $recipe-horizontal-lines 30px, $recipe-horizontal-lines 50px); background-size: 100% 31px; border: 1px solid $recipe-horizontal-lines; border-top: none; box-shadow: 0 14px 5px -5px rgba($black,.1), 0 3px 0 -2px $recipe-list-stack, 0 2px 0 rgba($white,1), 0 7px 0 -4px $recipe-list-stack, 0 4px 0 rgba($white,1), 0 11px 0 -6px $recipe-list-stack;
      &:before { position: absolute; content: ""; width: 4px; height: 100%; top: 0; left: 30px; border-left: 4px double $recipe-vertical-lines; }
      li { position: relative; width: 50%; margin: 4px 0; padding: 0 25px; line-height: 23.6px; color: $recipe-text-color; cursor: pointer; @include transition(color, .2s, ease); @include bgsizeNum(13px, 14px); @include no-select();
        ul { display: none; }
        &:hover { color: $orange-color-hover; }
        &.selected { background: url(../svg/icon-square-check.svg) no-repeat left 6px; @include bgsizeNum(15px, 16px); text-decoration: line-through; }
      }
    }
  }
  .post-footer { position: relative; margin: 50px 0 0; padding: 35px 0 0;
    .author-info { float: left; width: 80%; padding: 0 20px 0 0;
      & > img { float: left; margin: 0 20px 0 0; width: 70px; height: 70px; border-radius: 50%; }
      & > strong { font-size: 20px; }
      & > p { margin: 8px 0 0; }
    }
    .share-button { border-radius: 3px; overflow: hidden; position: relative; float: left; width: 20%; height: 54px; margin: 10px 0 0; background: $featured-article-btn-reddish; cursor: pointer;
      &:hover span { left: -200px;
        & + div { right: 0; }
      }
      span { position: absolute; left: 0; width: 100%; font: 20px/54px Abel, sans-serif; @include transition(left, .4s, ease); text-transform: uppercase; color: darken($white, 5%); text-align: center; }
      div { position: absolute; top: 15px; right: -200px; width: 100%; @include transition(right, .4s, ease); text-align: center;
        a { display: inline-block; width: 24px; height: 24px; line-height: 24px; background: $white; text-align: center; @include transition(opacity, .1s, ease);
          &:hover { opacity: .8; }
          svg { display: inline-block; vertical-align: middle; width: 14px; height: 14px;
            * { fill: $featured-article-btn-reddish; }
          }
        }
      }
    }
  }
  /*p:nth-child(2):first-letter {color: #903; float: left; font-family: Cardo; font-size: 90px; line-height: 30px; padding-top: 30px; padding-right: 8px; }*/
}
/**/

/* Photos Page */
.photo-grid { overflow: hidden; margin-left: 2.5%;
  ul {
    li a .photo-square {
      margin: 4px; float: left; background-size: cover; background-position: center; width: 190px; height: 190px;
    }
  }
}

.footer { background-color: #4D4D4E; border: 1px solid rgba(77, 77, 78, 0.2); height: 180px; padding-top: 35px;
  p { color: $white; line-height: 25px; text-align: left; padding-left: 10px;
    a { color: $white;
      &:hover { color: $orange-color-hover; }
    }
  }
  .footer-left-column { max-width: 50%; display: inline-block; margin-left: 50px; }
  .footer-right-column { max-width: 50%; display: inline-block; float: right; margin-top: 15px; margin-right: 60px;

    .footer-left-column { max-width: 50%; display: inline-block; margin-left: 20px; }
    .footer-right-column { max-width: 50%; display: inline-block; float: right; margin-top: 15px; margin-right: 30px;
      p {text-align: right; font: 100 20px/20px Abel, sans-serif; color: white}
    }

  }
}

@import "responsive";
