$black:                 #000;
$white:                 #fff;

$links-color:                   #3974BF;
$links-color-hover:             #6b2415;

$featured-article-btn-bluish:   #48515e;
$featured-article-btn-reddish:  #bb7056;

$recipe-background-color:       rgba(255,252,192, 0.13);
$recipe-horizontal-lines:       rgba(113,113,114,0.14);
$recipe-vertical-lines:         rgba(113,113,114,0.5);
$recipe-text-color:             #71664f;
$recipe-list-stack:             #c5c4b6;

$grey-color-dark:             #222;
$grey-color-normal:           #555;
$grey-color-light:            #aaa;
$grey-color-lighter:          #ccc;
$grey-color-lightest:         #eee;
$orange-color-hover:                #E5A636;

$default-width:               930px;
$on-tablet:                   768px;
$on-smaller-tablets:          640px;
$on-phone:                    480px;
$container-max-width:         900px;
